<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/listar_produtos.css' %}">
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function confirmDelete(form) {
            Swal.fire({
                title: 'Tem certeza ?',
                text: "Você não poderá reverter isso !",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim, excluir !',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit();
                }
            });
        }
    </script>
</head>
<body>
    <div class="container">
        {% if user.is_authenticated %}
        <span>Bem-vindo, {{ user.username }}</span>
        <a href="{% url 'logout' %}" class="btn">Sair</a>
        <h1>Lista de Produtos</h1>
        <div class="acoes">
            <a href="{% url 'historico_saidas' %}" class="btn-adicionar">Histórico de Saídas</a>
            <a href="{% url 'listar_clientes' %}" class="btn-adicionar">Lista de Clientes</a>
        </div>
        <div class="botao-adicionar">
            <a href="{% url 'adicionar_produto' %}" class="btn-adicionar">Adicionar Produto</a>
            <a href="{% url 'register_customer' %}" class="btn-criar-usuario">Criar Cliente</a>
            {% if user.is_superuser %}
            <a href="{% url 'create_user' %}" class="btn-criar-usuario">Criar Usuário</a>
            {% endif %}
        </div>
        <form method="GET" action="">
            <div class="form-group">
                <input type="text" name="nome" placeholder="Filtrar por nome" value="{{ nome_query }}">
                <select name="categoria">
                    <option value="">Todas as Categorias</option>
                    {% for categoria in categorias %}
                        <option value="{{ categoria.id }}" {% if categoria.id|stringformat:"s" == categoria_query %}selected{% endif %}>
                            {{ categoria.nome }}
                        </option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn-filtrar">Filtrar</button>
            </div>
        </form>
        <div class="produto-list">
            {% for produto in produtos %}
                <div class="produto-item">
                    <h2>{{ produto.nome }}</h2>
                    <p><strong>Descrição:</strong> {{ produto.descricao }}</p>
                    <p><strong>Quantidade:</strong> {{ produto.quantidade }}</p>
                    <p><strong>Preço:</strong> R$ {{ produto.preco }}</p>
                    <p><strong>Categoria:</strong> {{ produto.categoria.nome }}</p>
                    {% if user.is_superuser %}
                    <a href="{% url 'editar_produto' produto.id %}" class="btn-edit">Editar</a>
                    <form action="{% url 'deletar_produto' produto.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="button" class="btn-deletar" onclick="confirmDelete(this.form)">Deletar</button>
                    </form>
                    {% endif %}
                    <a href="{% url 'registrar_saida' produto.id %}" class="btn-registrar-saida">Registrar Saída</a>
                </div>            
            {% empty %}
                <p>Nenhum produto disponível no momento.</p>
            {% endfor %}
        </div>
        {% else %}
        <h2>Acesso restrito</h2>
        {% endif %}
    </div>
</body>
</html>
