{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Lista de Clientes</title>
    <link rel="stylesheet" href="{% static 'css/list_clients.css' %}">
</head>
<body>
    <div class="container">
        <h2>Lista de Clientes</h2>

        <!-- Botão de Voltar -->
        <div class="botao-voltar">
            <a href="{% url 'listar_produtos' %}" class="btn-voltar">Voltar para Lista de Produtos</a>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Endereço</th>
                    <th>Data de Nascimento</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.name }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.phone_number }}</td>
                    <td>{{ cliente.address }}</td>
                    <td>{{ cliente.date_of_birth }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">Nenhum cliente cadastrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
