/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    max-width: 900px;
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #4a90e2;
}

.produto-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.produto-item {
    background-color: #f4f4f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.produto-item:hover {
    transform: translateY(-5px);
}

.produto-item h2 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

.produto-item p {
    margin-bottom: 8px;
    font-size: 14px;
}

.produto-item p strong {
    font-weight: bold;
    color: #555;
}

.btn-edit {
    display: inline-block;
    margin-top: 10px;
    padding: 8px;
    background-color: #FFA500;
    color: white;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
}

.btn-edit:hover {
    background-color: #e59400;
}

/* Estilo do botão Adicionar Produto */
.botao-adicionar {
    text-align: center;
    margin-bottom: 20px;
}

.btn-adicionar {
    margin-left: 80%;
    display: inline-block;
    padding: 10px 20px;
    background-color: #4a90e2;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-adicionar:hover {
    background-color: #357ABD;
}

/* Estilo para o botão de deletar */
.btn-deletar {
    padding: 8px 12px;
    background-color: #e94e77;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.btn-deletar:hover {
    background-color: #c43e5a;
}

/* Estilo para o formulário de filtro */
.form-group {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

input[type="text"], select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.btn-filtrar {
    padding: 8px 12px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-filtrar:hover {
    background-color: #357ABD;
}


@media (max-width: 600px) {
    .produto-item {
        padding: 15px;
    }
    
    .produto-item h2 {
        font-size: 18px;
    }
    
    .produto-item p {
        font-size: 13px;
    }
}